<li class="collection-item avatar">
    <i class="material-icons circle red darken-1">business</i>
    <b><span class="title">{{establishment_detail.establishment.establishment}}</span></b>
    <div class="valign-wrapper">
        <i class="material-icons">my_location</i>&nbsp;<h6>{{establishment_detail.establishment.address}}</h6>&nbsp;<i class="material-icons">location_on</i>&nbsp;<a href="#">Ver mapa</a>
    </div>
    <div class="valign-wrapper">
        <i class="material-icons">stay_primary_portrait</i>&nbsp;<h6><b>Celular : </b>{{establishment_detail.establishment.cellphone}}</h6>&nbsp;<i class="material-icons">phone</i>&nbsp;<h6><b>Fijo : </b>{{establishment_detail.establishment.phone}}</h6>
    </div>
    <a href="#" class="secondary-content"><i class="material-icons medium grey-text">visibility</i></a>
</li>
