<div class="navbar-fixed">
    <nav class="blue darken-1">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo" data-activates="slide-out" data-sidenav="left" data-closeonclick="true" style="margin-left: 20px"><i class="material-icons">menu</i>Directory App</a>
            <ul class="right hide-on-med-and-down">
                <li><a class="waves-effect waves-light btn red darken-1" ng-click="main.change_location('access.login')">LOG OUT</a></li>
            </ul>
        </div>
    </nav>
</div>
<div ui-view="content@"></div>
<ul id="slide-out" class="side-nav">
    <li>
        <div class="userView">
            <div class="background">
                <img src="images/user-bg.jpg">
            </div>

            <a href="#"><img class="circle" src="images/user.jpg"></a>
            <a href="#"><span class="white-text name">Administrator</span></a>
            <a href="#"><span class="white-text email">administrator@administrator.com</span></a>
        </div>
    </li>
    <li><a class="subheader">Main Menú</a></li>
    <li ui-sref-active="bold active">
        <a class="waves-effect" ui-sref="app.search"><i class="material-icons">search</i>Queries</a>
    </li>
    <li ui-sref-active="bold active">
        <a class="waves-effect" ui-sref="app.maintainers"><i class="material-icons">web</i>Maintainers</a>
    </li>
    <li>
        <a class="waves-effect" href="#"><i class="material-icons">trending_up</i>Reports</a>
    </li>
</ul>
<div class="fixed-action-btn click-to-toggle">
    <a class="btn-floating btn-large blue darken-1">
      <i class="large material-icons">dashboard</i>
    </a>
    <ul>
      <li ui-sref-active="hidden"><a class="btn-floating red" ng-click="main.change_location('app.search')"><i class="material-icons">search</i></a></li>
      <li ui-sref-active="hidden"><a class="btn-floating yellow darken-1" ng-click="main.change_location('app.maintainers')"><i class="material-icons">toc</i></a></li>
    </ul>
  </div>
