<div class="row">
    <div class="col s12">
        <ul tabs class="tabs tabs-fixed-width">
            <li class="tab col s6"><a href="#establishment" class="blue-text text-darken-2">Establishment</a></li>
            <li class="tab col s6"><a href="#category" class="blue-text text-darken-2">Category</a></li>
        </ul>
    </div>
    <div id="establishment" class="col s12" style="padding: 20px">
        <div class="row">
            <div class="col s8">
                <h5>New Establisments</h5>
            </div>
            <div class="col s4">

            </div>
        </div>
    </div>
    <div id="category" class="col s12" style="padding: 20px">

    </div>
</div>
