<div class="row">
    <div class="col s12">
        <ul tabs class="tabs tabs-fixed-width">
            <li class="tab col s6"><a href="#busqueda" class="blue-text text-darken-2">Search Form</a></li>
        </ul>
    </div>
    <div id="busqueda" class="col s12" style="padding: 20px">
        <h5>Filters</h5>
        <div class="row">
            <div input-field class="col s3">
                <select material-select watch ng-model="search_form.region" ng-disabled="search_form.regions.length == 0" ng-change="search_form.get_provinces(search_form.region)">
                    <option value="">[ All ]</option>
                    <option ng-repeat="region in search_form.regions" value="{{region.code_region}}">{{region.region | uppercase}}</option>
                </select>
                <label>Region : <span class="new badge red" data-badge-caption="rows">{{search_form.regions.length}}</span></label>
            </div>
            <div input-field class="col s3">
                <select material-select watch ng-model="search_form.province" ng-disabled="search_form.provinces.length == 0" ng-change="search_form.get_districts(search_form.region, search_form.province)">
                    <option value="">[ All ]</option>
                    <option ng-repeat="province in search_form.provinces" value="{{province.code_province}}">{{province.province | uppercase}}</option>
                </select>
                <label for="province">Province : <span ng-if="search_form.provinces.length > 0" class="new badge blue" data-badge-caption="rows">{{search_form.provinces.length}}</span></label>
            </div>
            <div input-field class="col s3">
                <select material-select watch ng-model="search_form.district" ng-disabled="search_form.districts.length == 0">
                    <option value="">[ All ]</option>
                    <option ng-repeat="district in search_form.districts" value="{{district.code_district}}">{{district.district | uppercase}}</option>
                </select>
                <label for="district">District : <span ng-if="search_form.districts.length > 0" class="new badge orange" data-badge-caption="rows">{{search_form.districts.length}}</span></label>
            </div>
            <div input-field class="col s3">
                <select material-select watch ng-model="search_form.category">
                    <option value="">[ All ]</option>
                    <option ng-repeat="category in search_form.categories" value="{{category.id}}">{{category.category}}</option>
                </select>
                <label>Category : </label>
            </div>
        </div>
        <div class="row">
            <div input-field class="col s9">
                <i class="material-icons prefix">dashboard</i>
                <input type="text" placeholder="Type keywords" ng-model="search_form.filter">
                <label>Keywords</label>
            </div>
            <div class="col s3">
                <a class="waves-effect waves-light btn-large blue darken-1" style="display: block" ng-click="search_form.search_establishments(); Materialize.showStaggeredList('#establishments')"><i class="material-icons right">search</i>Search</a>
            </div>
        </div>
        <div class="row center-align" ng-if="search_form.load_establishments">
            <div class="col s12">
                <spinner-material size="'big'"></spinner-material>
            </div>
        </div>
        <div class="row" ng-if="search_form.establishments && !search_form.load_establishments">
            <div class="col s12">
                <h5>{{search_form.establishments.length > 0 ? 'Establishments Found' : 'No Establishments Found'}}</h5>
                <establishment-list list="search_form.establishments"></establishment-list>
            </div>
        </div>
    </div>
</div>
